@model IEnumerable<CarPoolLibrary.Models.Member>

@{
    ViewData["Title"] = "Member List";
}

<h1>@ViewData["Title"]</h1>

<component type="typeof(MembersDataList)" render-mode="ServerPrerendered" />
