@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br>
    <h2>CARPOOLING SYSTEM</h2><br><br>
    <h4>Baek, Jayden</h4>
    <h4>Chung, Taehyuk</h4>
    <h4>Jian, Jin Rong</h4>
    <h4>Ly, Tracy</h4>
</div>
