<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarPoolMvc</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/CarPoolMvc.styles.css" asp-append-version="true" />
</head>

<body style="background-color: #f0eded;">
    <header class="p-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <span class="px-3 fs-3">CarPoolMvc</span>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white fs-5">Home</a></li>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a asp-area="" asp-controller="Users" asp-action="Index"
                                    class="nav-link px-2 text-white fs-5">Users</a></li>
                            <li><a asp-area="" asp-controller="Members" asp-action="Index"
                                    class="nav-link px-2 text-white fs-5">Members</a></li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Owner"))
                        {
                            <li><a asp-area="" asp-controller="Vehicles" asp-action="Index"
                                class="nav-link px-2 text-white fs-5">Vehicles</a></li>
                        }

                        <li><a asp-area="" asp-controller="Trips" asp-action="Index"
                            class="nav-link px-2 text-white fs-5">Trips</a></li>

                        @if (User.IsInRole("Admin") || User.IsInRole("Owner"))
                        {
                            <li><a asp-area="" asp-controller="Manifests" asp-action="Index"
                                class="nav-link px-2 text-white fs-5">Manifests</a></li>
                        }
                    }
                </ul>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3 mt-5 ">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted p-1 bg-dark text-white fs-5">
        <div class="container text-white">
            &copy; 2024 CarPoolMvc. All rights reserved. 
                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white">Privacy.</a> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Team Members: Baek, Jayden | Chung, Taehyuk | Jian, Jin Rong | Ly, Tracy
        </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
