@model CarPoolLibrary.Models.Vehicle

@{
    ViewData["Title"] = "Edit Vehicle Details";
}

<link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VehicleId" />
            <div class="form-group my-2">
                <label asp-for="MemberId" class="control-label">Owner</label>
                <select asp-for="MemberId" class ="form-control" asp-items="@(ViewData["Owners"] as SelectList)"></select>
            </div>
            <div class="form-group my-2">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="VehicleType" class="control-label"></label>
                <select asp-for="VehicleType" asp-items="@(ViewData["DefaultVehicleTypes"] as SelectList)" class="form-control" required>
                    <option value="">Select Vehicle Type</option>
                </select>
                <span asp-validation-for="VehicleType" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="NumberOfSeats" class="control-label"></label>
                <input asp-for="NumberOfSeats" class="form-control" />
                <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <component type="typeof(VehiclesButtonsSaveAndCancel)" render-mode="ServerPrerendered" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
